@font-face {
  font-family: 'Tabular';
  src:
    url('/fonts/tabular/tabular-medium.woff2') format('woff2'),
    url('/fonts/tabular/tabular-medium.woff') format('woff');
  font-weight: normal;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Tabular';
  src:
    url('/fonts/tabular/tabular-mediumitalic.woff2') format('woff2'),
    url('/fonts/tabular/tabular-mediumitalic.woff') format('woff');
  font-weight: normal;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: 'Tabular';
  src:
    url('/fonts/tabular/tabular-bold.woff2') format('woff2'),
    url('/fonts/tabular/tabular-bold.woff') format('woff');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Tabular';
  src:
    url('/fonts/tabular/tabular-bolditalic.woff2') format('woff2'),
    url('/fonts/tabular/tabular-bolditalic.woff') format('woff');
  font-weight: 700;
  font-display: swap;
  font-style: italic;
}