/* cc-by-nc-sa Antoine Fauchié www.quaternum.net */
body { font-family: "Tabular", serif; font-size: 17px; margin: 0 1em 3em; padding: 2em 20px; max-width: 900px; --text-color: #1D3249; --background: #FFFFFF; line-height: 1.625; color: var(--text-color); background-color: var(--background); }
body.dark-theme { --text-color: #E8ECED; --background: #111E2C; }
@media (prefers-color-scheme: dark) { body { --text-color: #E8ECED; --background: #111E2C; } body.light-theme { --text-color: #1D3249; --background: #ffffff; } }
.mode { font-family: inherit; float: none; display: block; margin-left: auto; margin-top: -1.5em; margin-bottom: 1em; color: var(--text-color); background-color: var(--background); cursor: pointer; border: none; }
nav ul, nav li, .colonne ul, .colonne li, .flux ul, .flux li, .liste ul, .liste li { margin: 0; padding: 0; list-style-type: none; }
header { margin-bottom: 3em; }
nav { margin: 0 0; max-width: 20em; }
a { color: inherit; }
a:hover { color: inherit; }
code { padding: 0.125em; }
pre { padding: 1em; white-space: pre-wrap; }
pre, code { color: var(--background); background: var(--text-color); border-radius: 5px; }
h1, h2, h3, h4 { font-size: 18px; font-weight: 700; margin: 1.5em 0 0; }
h1 { font-size: 1.75em; margin: 1.5em auto 1em; }
article h1 {margin-top: 0em;}
h2, .archives { font-size: 1.5em; }
h3 { font-size: 1.25em; margin-bottom: 0.5em; }
strong { font-weight: 700; }
.hugo-cite-citation { display: none; }
.visually-hidden { display: none; }
sup { line-height: normal; }
footer { margin-top: 4em;}
img { max-width: 100%;}
.switch { fill: currentColor;}
summary { cursor: pointer; list-style: none;}
.menu { display: flex; flex-wrap: wrap; font-size: 0.75em;}
.menu h2 { font-size: 1.25em; line-height: 1em;}
.menu a { text-decoration-style: dotted; }
.colonnes { display: flex; flex-wrap: wrap; flex: 1 1 40%; box-sizing: border-box; max-width: 40%; }
.colonne { flex: 1 1 100%; box-sizing: border-box; max-width: 100%; padding-right: 10px; }
.menu > .flux { flex: 1 1 40%; max-width: 40%; padding-right: 10px;}
.menu > .navigation { flex: 1 1 20%; max-width: 20%;}
.archives { font-weight: 700;}
.archives::before { content: ">";}
.plus { font-weight: 700;}
.nolist {
  list-style: none;
  padding-left: 0;
} 
