<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="author" content="{{ .Site.Author.name }}">
<meta name="description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ if .Params.description }}{{ .Params.description | markdownify | plainify | htmlUnescape }}{{ else }}{{ .Summary }}{{ end }}{{ end }}" />
<meta name="keywords" content="{{ .Site.Params.keywords }}" />
<link rel="canonical" href="{{ .Permalink }}" />
<title>
    {{- if .IsHome -}}
        {{ $.Site.Title }} {{ with $.Site.Params.sous_titre }} — {{ . }}{{ end }}
    {{- else -}}
        {{ .Title }} – {{ .Site.Title }}
    {{- end -}}
</title>
{{- partial "metadata.html" . -}}
{{ $style := resources.Get "styles/index.scss" | resources.ToCSS }}
<link rel="stylesheet" href="{{ $style.Permalink }}">
<link rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" href="/atom.xml" />
