<header class="entete">
    <div class="titre">
        <a href="/">{{ .Site.Title }}</a>
        <button class="mode"><svg class="switch" width="24" height="24" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M22 41C32.4934 41 41 32.4934 41 22C41 11.5066 32.4934 3 22
            3C11.5066 3 3 11.5066 3 22C3 32.4934 11.5066 41 22 41ZM7 22C7
            13.7157 13.7157 7 22 7V37C13.7157 37 7 30.2843 7 22Z"></path>
          </svg></button>
    </div>
    {{ if .IsHome }}{{ else }}<details>
        <summary>Menu</summary>{{ end }}
    <section class="menu">
        <section class="colonnes">
            <section class="colonne">
                <h2>Carnet</h2>
                <ul>
                    {{range where site.RegularPages "Section" "posts" | first 5 }}
                    <li>
                    <a href="{{.Permalink}}">{{.Title}}</a>
                    </li>
                    {{end}}
                    <li class="plus"><a href="/carnet">voir plus</a></li>
                </ul>
            </section>
            <section class="colonne">
                <h2>PhD (carnet de thèse)</h2>
                <ul>
                    {{range where site.RegularPages "Section" "phd" | first 5 }}
                    <li>
                    <a href="{{.Permalink}}">{{.Title}}</a>
                    </li>
                    {{end}}
                    <li class="plus"><a href="/phd">voir plus</a></li>
                </ul>
            </section>
        </section>
        <section class="flux">
            <h2>Flux</h2>
            <ul>
                {{range where site.RegularPages "Section" "flux" | first 10 }}
                <li>
                <a href="{{.Permalink}}">{{.Title}}</a>
                </li>
                {{end}}
                <li class="plus"><a href="/flux">voir plus</a></li>
            </ul>
        </section>
        <nav class="navigation">
            <h2>Autres pages/sections</h2>
            <ul>
                <li><a href="/a-propos">À propos</a></li>
                <li><a href="/now">Now/Maintenant</a></li>
                <li><a href="/publications">Publications</a></li>
                <li><a href="/projets">Projets</a></li>
                <li><a href="/atom.xml">Abonnez-vous</a></li>
            </ul>
        </nav>
    </section>
    {{ if .IsHome }}{{ else }}</details>{{ end }}
</header>
