@font-face {
  font-family: bitterbold;
  src: url(/fonts/bitter-bold-webfont.woff2) format('woff2'), url(/fonts/bitter-bold-webfont.woff) format('woff');
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: bitterbold_italic;
  src: url(/fonts/bitter-bolditalic-webfont.woff2) format('woff2'), url(/fonts/bitter-bolditalic-webfont.woff) format('woff');
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: bitteritalic;
  src: url(/fonts/bitter-italic-webfont.woff2) format('woff2'), url(/fonts/bitter-italic-webfont.woff) format('woff');
  font-weight: 400;
  font-style: italic
}

@font-face {
  font-family: bitterregular;
  src: url(/fonts/bitter-regular-webfont.woff2) format('woff2'), url(/fonts/bitter-regular-webfont.woff) format('woff');
  font-weight: 400;
  font-style: normal
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

body, html {
  margin: 0;
  padding: 0
}

html {
  font-family: bitterregular, Georgia, Arial, serif;
  font-size: 18px;
  line-height: 1.7
}

@media (min-width:40em) {
  html {
    font-size: 20px
  }
}

::-moz-selection {
  background: #dceaea;
  text-shadow: none
}

::selection {
  background: #dceaea;
  text-shadow: none
}

body {
  color: #2e2e2e;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%
}

em {
  font-family: bitteritalic, serif;
  font-weight: 400;
  line-height: 1.5
}

strong {
  font-family: bitterbold, Georgia, Arial, serif;
  font-weight: 400;
  color: #303030
}

a {
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  color: #505050;
  text-decoration: none;
  border-bottom: #505050 .125rem solid
}

li a, p a {
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  color: #505050;
  text-decoration: none;
  border-bottom: #505050 .125rem solid
}

li a:hover, p a:hover {
  color: #2e2e2e;
  text-decoration: none;
  border-bottom: #9a9a9a .125rem solid
}

a strong {
  color: inherit
}

a:focus, a:hover {
  color: #2e2e2e;
  text-decoration: none;
  border-bottom: #9a9a9a .125rem solid
}

.link-button a {
  -webkit-transition: all 500s ease-in-out;
  transition: all .5s ease-in-out;
  padding: .3em 1em;
  background: none repeat scroll 0 0 #268bd2;
  color: #fff;
  text-decoration: none;
  border-radius: 6px
}

.link-button:hover a {
  background: none repeat scroll 0 0 #224870;
  text-decoration: underline
}

a.link-button-categories {
  -webkit-transition: all 500s ease-in-out;
  transition: all .5s ease-in-out;
  padding: .3em 1em;
  background: none repeat scroll 0 0 #505050;
  color: #fff;
  text-decoration: none;
  border-radius: 2px;
  text-align: center
}

a.link-button-categories:hover {
  background: none repeat scroll 0 0 #303030;
  text-decoration: underline
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-family: bitterbold, Georgia, Arial, serif;
  font-weight: 400;
  line-height: 1.25;
  color: #313131;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 2.2rem
}

h2 {
  margin-top: 3rem;
  font-size: 1.75rem
}

h3 {
  margin-top: 1.5rem;
  font-size: 1.25rem
}

h4, h5, h6 {
  margin-top: 1rem;
  font-size: 1.125rem
}

p {
  margin-top: 0;
  margin-bottom: 1rem
}

dl, ol, ul {
  margin-top: 0;
  margin-bottom: 1rem
}

ul ul {
  margin-bottom: 0
}

dt {
  font-weight: 700
}

dd {
  margin-bottom: .5rem
}

hr {
  position: relative;
  margin: 1.5rem 0;
  border: 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #fff
}

abbr {
  font-size: 85%;
  font-weight: 700;
  color: #555;
  text-transform: uppercase
}

abbr[title] {
  cursor: help;
  border-bottom: 1px dotted #e5e5e5
}

code, pre {
  font-family: Fira, monospace
}

code {
  padding: .25em .5em;
  font-size: 85%;
  background-color: #f9f9f9;
  border-radius: 3px
}

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: .8rem;
  line-height: 1.4;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f9f9f9
}

pre code {
  padding: 0;
  font-size: 100%;
  color: inherit;
  background-color: transparent
}

.highlight {
  margin-bottom: 1rem;
  border-radius: 4px
}

.highlight pre {
  margin-bottom: 0
}

.gist .gist-file {
  font-family: Menlo, Monaco, "Courier New", monospace!important
}

.gist .markdown-body {
  padding: 15px
}

.gist pre {
  padding: 0;
  background-color: transparent
}

.gist .gist-file .gist-data {
  font-size: .8rem!important;
  line-height: 1.4
}

.gist code {
  padding: 0;
  color: inherit;
  background-color: transparent;
  border-radius: 0
}

blockquote {
  padding: .2rem 1rem;
  margin: .8rem 0 1.5rem;
  color: #7a7a7a;
  border-left: .25rem solid #e5e5e5
}

blockquote p:last-child {
  margin-bottom: 0
}

@media (min-width:30em) {
  blockquote {
    padding-right: 5rem;
    padding-left: 1.25rem
  }
}

img {
  display: block;
  max-width: 95%;
  margin: 0 0 1rem;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto
}

table {
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid #e5e5e5;
  border-collapse: collapse
}

td, th {
  padding: .25rem .5rem;
  border: 1px solid #e5e5e5
}

tbody tr:nth-child(odd) td, tbody tr:nth-child(odd) th {
  background-color: #f9f9f9
}

.lead {
  font-size: 1.25rem;
  font-weight: 300
}

.message {
  margin-bottom: 1rem;
  padding: 1rem;
  color: #717171;
  background-color: #f9f9f9
}

.container {
  max-width: 43rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-left: auto;
  margin-right: auto
}

.masthead {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  text-align: center
}

p.masthead-title {
  color: #2e2e2e;
  margin-bottom: .5rem
}

.masthead-title a {
  font-size: 1.25rem;
  font-family: bitterbold, Georgia, Arial, serif;
  color: #2e2e2e;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  color: #505050;
  text-decoration: none
}

.masthead-title a:hover {
  text-decoration: underline;
  color: #303030
}

.masthead-title small {
  font-size: 75%;
  font-weight: 400;
  color: silver;
  letter-spacing: 0
}

.page, .post {
  margin-bottom: 2.75em
}

.post-home {
  margin-top: 1rem;
  margin-bottom: 1.5rem
}

.page-title, .post-title a, .posts {
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  color: #303030;
  text-decoration: none;
  border-bottom: none
}

.post-title a:hover {
  text-decoration: none;
  color: #505050;
  border-bottom: #505050 .125rem solid
}

.post a:hover {
  text-decoration: none;
  border-bottom: #9a9a9a .125rem solid
}

.posts a:hover {
  text-decoration: none;
  color: #505050;
  border-bottom: #505050 .125rem solid
}

.page-title, .post-title {
  margin-top: 0
}

.post-date {
  display: block;
  margin-top: -.5rem;
  margin-bottom: .2rem;
  color: #9a9a9a
}

.post header {
  margin-top: -.5rem;
  margin-bottom: .2rem;
  color: #9a9a9a;
  font-size: 1rem
}

.post header a {
  color: #9a9a9a;
  text-decoration: none;
  border-bottom: #9a9a9a .125rem solid
}

.post header a:hover {
  color: #505050;
  text-decoration: none;
  border-bottom: #505050 .125rem solid
}

.related {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top: 1px solid #eee
}

.related-posts {
  padding-left: 0;
  list-style: none
}

.related-posts h3 {
  margin-top: 0
}

.related-posts li small {
  font-size: 75%;
  color: #999
}

.related-posts li a:hover {
  color: #268bd2;
  text-decoration: none
}

.related-posts li a:hover small {
  color: inherit
}

.pagination {
  overflow: hidden;
  margin-left: -1rem;
  margin-right: -1rem;
  color: #ccc;
  text-align: center
}

.pagination-item {
  display: block;
  padding: 1rem;
  border: 1px solid #eee
}

.pagination-item:first-child {
  margin-bottom: -1px
}

a.pagination-item:hover {
  background-color: #f5f5f5
}

@media (min-width:30em) {
  .pagination {
    margin: 3rem 0
  }
  .pagination-item {
    float: left;
    width: 50%
  }
  .pagination-item:first-child {
    margin-bottom: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px
  }
  .pagination-item:last-child {
    margin-left: -1px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px
  }
}

.footer {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.footer, .modif {
  color: #9a9a9a
}

.modif {
  margin-top: 2rem
}

.footer a, .modif a {
  text-decoration: none;
  border-bottom: #9a9a9a .125rem solid;
  color: #9a9a9a
}

.footer a:hover, .modif a:hover {
  text-decoration: none;
  border-bottom: none;
  color: #9a9a9a
}

.header_nav li {
  display: inline-block;
  margin-left: 0
}

.header_nav li a {
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  margin: 0 0 0 .15rem;
  padding: 0 1rem 0 0;
  color: #9a9a9a;
  text-decoration: none
}

.header_nav li a:hover {
  text-decoration: underline;
  color: #505050
}

.active a {
  font-family: bitterbold, Georgia, Arial, serif
}

.header_nav ul {
  margin-bottom: 0;
  padding: 0
}

.intro {
  margin-bottom: 3rem;
  font-size: 1.25rem
}

.posts {
  margin-bottom: 3rem
}

.posts p section {
  font-size: 1.1rem
}

.posts p {
  margin-bottom: 1.5rem
}

.home-separate {
  margin: 3rem 0 3.5rem 0
}

img+em {
  color: #7a7a7a;
  text-align: center
}

@media print {
  @bottom-center {
    content: counter(page) " / " counter(pages);
  }
  @page {
    margin: 2cm 2cm 2cm 2cm;
  }
  .container {
    width: 100%;
    margin: 20px 0 0 0;
    padding: 0;
    max-width: 100%
  }
  html {
    font-size: 15px;
    line-height: 1.5
  }
  h1 {
    margin-top: 1.8em;
    margin-bottom: 1em
  }
  h2 {
    margin-top: 1.5em;
    margin-bottom: 0.5em
  }
  h2, h3, h4, h5 {
    page-break-after: avoid
  }
  blockquote, figure, li, pre {
    page-break-inside: avoid
  }
  /*h2 {
    page-break-before: always
  }*/
  img {
    max-width: 100%!important
  }
  img, ul {
    page-break-inside: avoid
  }
}

sup {
  text-align: left;
  margin-top: 0
}

sup::before {
  content: "["
}

sup::after {
  content: "]"
}

.footnotes {
  margin-top: 3em
}

header {
  margin: 1rem auto 3rem auto;
  padding: 0;
  font-size: 1.25rem
}

.header-top {
  display: block
}

.title-site {
  display: inline-block;
  float: left;
  font-family: bitterbold, Georgia, Arial, serif
}

a.title-site {
  color: #2e2e2e;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  color: #505050;
  text-decoration: none;
  border-bottom: none
}

a.title-site:hover {
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  border-bottom: #303030 .125rem solid;
  color: #303030
}

.header-nav {
  display: inline-block;
  padding-left: 2rem
}

@media (max-width:30rem) {
  .header-nav {
    display: inline-block;
    padding-left: 0
  }
}

.header-nav a {
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  margin-right: .5rem;
  color: #505050;
  font-size: 1.1rem;
  text-decoration: none;
  border-bottom: #505050 .125rem solid
}

.header-nav a:hover {
  color: #303030;
  border-bottom: #9a9a9a .125rem solid
}

.bibliography {
  list-style: none;
	padding-left: 0rem;
}

.bibliography li {
		margin: 1.2em 0;
    list-style: none;
}

tag.lecture-status {
  font-family: bitteritalic, serif;
  font-weight: 400;
}

.phd {
  margin-left: 0.5em;
}

ul li {
  list-style: disc;
}

p a.commit {
  border-bottom: none;
  text-decoration: none;
  color: #cdd5d1;
}

p a:focus.commit, p a:hover.commit {
  border-bottom: none;
  text-decoration: none;
  color: #9a9a9a;
}

iframe {
  width: 100vw;
  height: 56.25vw;
  max-width: 700px;
  max-height: 400px;
  overflow-x: hidden;
  margin-top: 1em;
  border: none;
}

.status {
  font-family: bitteritalic, serif;
  margin: 0 0.5em 0 0.5em;
}

.txts h1 {
  margin-top: 2em;
}

/*@media (prefers-color-scheme: dark) {
  body{background:#2d2d2d;filter:invert(1);}
  img,.cp_embed_wrapper,pre{filter:invert(1);}
}*/