/* Base on Poole, designed, built, and released under MIT license by @mdo. Learn more at https://github.com/poole/poole.
 */

@font-face {
    font-family: 'roboto_slabregular';
    src: url('/fonts/RobotoSlab-Regular-webfont.eot');
    src: url('/fonts/RobotoSlab-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/RobotoSlab-Regular-webfont.woff') format('woff'),
         url('/fonts/RobotoSlab-Regular-webfont.ttf') format('truetype'),
         url('/fonts/RobotoSlab-Regular-webfont.svg#roboto_slabregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_slabbold';
    src: url('/fonts/RobotoSlab-Bold-webfont.eot');
    src: url('/fonts/RobotoSlab-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/RobotoSlab-Bold-webfont.woff') format('woff'),
         url('/fonts/RobotoSlab-Bold-webfont.ttf') format('truetype'),
         url('/fonts/RobotoSlab-Bold-webfont.svg#roboto_slabbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'bitteritalic';
    src: url('/fonts/bitter-italic-webfont.woff2') format('woff2'),
         url('/fonts/bitter-italic-webfont.woff') format('woff'),
         url('/fonts/bitter-italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-family: "roboto_slabregular", Georgia, Arial, serif;
  font-size: 18px;
  line-height: 1.5;
}
@media (min-width: 40em) {
  html {
    font-size: 20px;
  }
}

::-moz-selection {
    background: #c6c5b9;
    text-shadow: none;
}

::selection {
    background: #c6c5b9;
    text-shadow: none;
}

body {
  color: #2e2e2e;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

em {
  font-family: "bitteritalic", serif;
  font-weight: normal;
  line-height: 1.5;
}

strong {
  font-family: "roboto_slabbold", Georgia, Arial, serif;
  font-weight: normal;
}


/* No `:visited` state is required by default (browsers will use `a`) */
a {
  -webkit-transition:all 500ms ease-in-out;
  transition:all 500ms ease-in-out;
  color: #505050;
  text-decoration: underline;
}
a strong {
  color: inherit;
}
/* `:focus` is linked to `:hover` for basic accessibility */
a:hover,
a:focus {
  color: #2e2e2e;
  text-decoration: none;
}

/* Style for link buttons on homepage */
.link-button a{
  -webkit-transition:all 500s ease-in-out;
  transition:all 500ms ease-in-out;
  padding: 0.3em 1em;
  background: none repeat scroll 0% 0% #268bd2;
  color: #FFF;
  text-decoration: none;
  border-radius: 6px;
}
.link-button:hover a{
  background: none repeat scroll 0% 0% #224870;
  text-decoration: underline;
}

/* Style for link buttons for categories on homepage */
a.link-button-categories{
  -webkit-transition:all 500s ease-in-out;
  transition:all 500ms ease-in-out;
  padding: 0.3em 1em;
  background: none repeat scroll 0% 0% #505050;
  color: #FFF;
  text-decoration: none;
  border-radius: 2px;
  text-align: center;
}
a.link-button-categories:hover{
  background: none repeat scroll 0% 0% #303030;
  text-decoration: underline;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-family: "roboto_slabbold", Georgia, Arial, serif;
  font-weight: normal;
  line-height: 1.25;
  color: #313131;
  text-rendering: optimizeLegibility;
}
h1 {
  font-size: 2.2rem;
}
h2 {
  margin-top: 3rem;
  font-size: 1.75rem;
}
h3 {
  margin-top: 1.5rem;
  font-size: 1.25rem;
}
h4, h5, h6 {
  margin-top: 1rem;
  font-size: 1.125rem;
}

/* Body text */
p {
  margin-top: 0;
  margin-bottom: 1rem;
}

strong {
  color: #303030;
}


/* Lists */
ul, ol, dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ul ul {
  margin-bottom: 0;
}

dt {
  font-weight: bold;
}
dd {
  margin-bottom: .5rem;
}

/* Misc */
hr {
  position: relative;
  margin: 1.5rem 0;
  border: 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #fff;
}

abbr {
  font-size: 85%;
  font-weight: bold;
  color: #555;
  text-transform: uppercase;
}
abbr[title] {
  cursor: help;
  border-bottom: 1px dotted #e5e5e5;
}

/* Code */
code,
pre {
  font-family: Menlo, Monaco, "Courier New", monospace;
}
code {
  padding: .25em .5em;
  font-size: 85%;
  color: #bf616a;
  background-color: #f9f9f9;
  border-radius: 3px;
}
pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: .8rem;
  line-height: 1.4;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f9f9f9;
}
pre code {
  padding: 0;
  font-size: 100%;
  color: inherit;
  background-color: transparent;
}

/* Pygments via Jekyll */
.highlight {
  margin-bottom: 1rem;
  border-radius: 4px;
}
.highlight pre {
  margin-bottom: 0;
}

/* Gist via GitHub Pages */
.gist .gist-file {
  font-family: Menlo, Monaco, "Courier New", monospace !important;
}
.gist .markdown-body {
  padding: 15px;
}
.gist pre {
  padding: 0;
  background-color: transparent;
}
.gist .gist-file .gist-data {
  font-size: .8rem !important;
  line-height: 1.4;
}
.gist code {
  padding: 0;
  color: inherit;
  background-color: transparent;
  border-radius: 0;
}

/* Quotes */
blockquote {
  padding: .2rem 1rem;
  margin: .8rem 0 1.5rem;
  color: #7a7a7a;
  border-left: .25rem solid #e5e5e5;
}
blockquote p:last-child {
  margin-bottom: 0;
}
@media (min-width: 30em) {
  blockquote {
    padding-right: 5rem;
    padding-left: 1.25rem;
  }
}

img {
  display: block;
  max-width: 95%;
  margin: 0 0 1rem;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}

/* Tables */
table {
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
}
td,
th {
  padding: .25rem .5rem;
  border: 1px solid #e5e5e5;
}
tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}


/*
 * Custom type
 *
 * Extend paragraphs with `.lead` for larger introductory text.
 */

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}


/*
 * Messages
 *
 * Show alert messages to users. You may add it to single elements like a `<p>`,
 * or to a parent if there are multiple elements to show.
 */

.message {
  margin-bottom: 1rem;
  padding: 1rem;
  color: #717171;
  background-color: #f9f9f9;
}


/*
 * Container
 *
 * Center the page content.
 */

.container {
  max-width: 43rem;
  padding-left:  1.5rem;
  padding-right: 1.5rem;
  margin-left:  auto;
  margin-right: auto;
}


/*
 * Masthead
 *
 * Super small header above the content for site name and short description.
 */

.masthead {
  padding-top:    1rem;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  text-align: center;
}
p.masthead-title {
  color: #2e2e2e;
  margin-bottom: 0.5rem;  
}
.masthead-title a {
  font-size: 1.25rem;
  font-family: "roboto_slabbold", Georgia, Arial, serif;
  color: #2e2e2e;
  -webkit-transition:all 500ms ease-in-out;
  transition:all 500ms ease-in-out;
  color: #505050;
  text-decoration: none;
}
.masthead-title a:hover {
  text-decoration: underline;
  color: #303030;
}
.masthead-title small {
  font-size: 75%;
  font-weight: 400;
  color: #c0c0c0;
  letter-spacing: 0;
}

/*
 * Posts and pages
 *
 * Each post is wrapped in `.post` and is used on default and post layouts. Each
 * page is wrapped in `.page` and is only used on the page layout.
 */

.page,
.post {
  margin-bottom: 2.75em;
}

.post-home {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

/* Blog post or page title */
.page-title,
.posts,
.post-title a {
  -webkit-transition:all 500ms ease-in-out;
  transition:all 500ms ease-in-out;
  color: #303030;
  text-decoration: none;
}
.post-title a:hover {
  text-decoration: underline;
  color: #505050;
}

.post a:hover {
  text-decoration: none;
}

.posts a:hover {
  text-decoration: underline;
  color: #505050;
}

.page-title,
.post-title {
  margin-top: 0;
}

/* Meta data line below post title */
.post-date {
  display: block;
  margin-top: -.5rem;
  margin-bottom: .2rem;
  color: #9a9a9a;
}

.post header {
  margin-top: -.5rem;
  margin-bottom: .2rem;
  color: #9a9a9a;
  font-size: 1rem;
}

.post header a {
  color: #9a9a9a;
}
/* Related posts */
.related {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top: 1px solid #eee;
}
.related-posts {
  padding-left: 0;
  list-style: none;
}
.related-posts h3 {
  margin-top: 0;
}
.related-posts li small {
  font-size: 75%;
  color: #999;
}
.related-posts li a:hover {
  color: #268bd2;
  text-decoration: none;
}
.related-posts li a:hover small {
  color: inherit;
}


/*
 * Pagination
 *
 * Super lightweight (HTML-wise) blog pagination. `span`s are provide for when
 * there are no more previous or next posts to show.
 */

.pagination {
  overflow: hidden; /* clearfix */
  margin-left: -1rem;
  margin-right: -1rem;
  color: #ccc;
  text-align: center;
}

/* Pagination items can be `span`s or `a`s */
.pagination-item {
  display: block;
  padding: 1rem;
  border: 1px solid #eee;
}
.pagination-item:first-child {
  margin-bottom: -1px;
}

/* Only provide a hover state for linked pagination items */
a.pagination-item:hover {
  background-color: #f5f5f5;
}

@media (min-width: 30em) {
  .pagination {
    margin: 3rem 0;
  }
  .pagination-item {
    float: left;
    width: 50%;
  }
  .pagination-item:first-child {
    margin-bottom: 0;
    border-top-left-radius:    4px;
    border-bottom-left-radius: 4px;
  }
  .pagination-item:last-child {
    margin-left: -1px;
    border-top-right-radius:    4px;
    border-bottom-right-radius: 4px;
  }
}

/* Footer style created by antoine, 2014-12-26 */

.footer {
  margin-top: 3rem;
  margin-bottom: 1rem;
  color: #9a9a9a;
}

.footer a {
  text-decoration: underline;
  color: #9a9a9a;
}

.footer a:hover {
  text-decoration: none;
  color: #9a9a9a;
}

/* Nav style created by antoine, 2015-05-30 */

.header_nav li {
    display: inline-block;
    margin-left: 0rem;
}

.header_nav li a {
  -webkit-transition:all 500ms ease-in-out;
  transition:all 500ms ease-in-out;
  margin: 0 0 0 0.15rem;
  padding: 0 1rem 0 0;
  color: #9a9a9a;
  text-decoration: none;
}

.header_nav li a:hover{
  text-decoration: underline;
  color: #505050;
}

.active a {
  font-family: "roboto_slabbold", Georgia, Arial, serif;
}

.header_nav ul {
    margin-bottom: 0rem;
    padding: 0;
}

.intro {
  margin-bottom: 3rem;
  font-size: 1.25rem;
}

.posts {
  margin-bottom: 3rem;
}

.posts p section {
  font-size: 1.1rem;
}

.posts p {
  margin-bottom: 1.5rem;
}

.home-separate {
  margin: 3rem 0 3.5rem 0;
}

img + em {
  color: #7a7a7a;
  text-align: center;
}

@media print {
  .container {
    width: 100%;
    margin: 20px 0 0 0;
    padding: 0px;
    max-width: 100%;
  }
  html {
    font-size: 15px;
    line-height: 1.5;
  }
  h2, h3 {
   page-break-after: avoid;
 }
 img {
   max-width: 100% !important;
 }
}

sup {
  text-align: normal;
  margin-top: 0;
}

sup::before {
  content: "[";
}
sup::after {
  content: "]";
}

.footnotes {
  margin-top: 3em;
}

header {
  margin: 1rem auto 3rem auto;
  padding: 0;
  font-size: 1.25rem;
}

.header-top {
  display: block;
}

.title-site {
  display: inline-block;
  float: left;
  font-family: "roboto_slabbold", Georgia, Arial, serif;
}

a.title-site { 
  color: #2e2e2e;
  -webkit-transition:all 500ms ease-in-out;
  transition:all 500ms ease-in-out;
  color: #505050;
  text-decoration: none;
}

a.title-site :hover {
  text-decoration: underline;
  color: #303030;
}

.header-nav {
  display: inline-block;
  padding-left: 2rem;
}

@media (max-width: 30rem){
  .header-nav {
  display: inline-block;
  padding-left: 0rem;
}
}

.header-nav a {
  padding-right: 0.5rem;
  color: #505050;
  font-size: 1.1rem;
}
