{{ define "main" }}
<main>
    <article>
        <h1>{{ .Title }} </h1>
        {{ .Content }}
        <ul>
            {{range where .Pages "Section" "lectures" }}
            <li>
                <a href="{{.Permalink}}">
                    {{.Title}} - {{.Section}} — {{ if .Site.Params.dateformShort }}{{ .Date.Format .Site.Params.dateformShort }}{{ else }}{{ .Date.Format "2006-01-02"}}{{ end }}
                </a>
            </li>
            {{end}}
        </ul>
    </article>
</main>
{{ end }}