{{ define "main" }}
<main>
    <article>
        <section>
            <h1>{{ .Title }} </h1>
            {{ .Content }}
        </section>
        <section class="liste">
            {{ $now := .Site.GetPage "/now/posts" }}
            {{ $nowPosts := $now.Resources.Match "20*" }}
            {{ range where $nowPosts ".Params.status" "avant" }}
            <p id="{{ .File.TranslationBaseName }}-{{ .Date.Format "2006-01-02" }}">{{.Content}}</p>
            {{end}}
        </section>
        <section>
            <details open><summary class="archives">Archives</summary>
            {{ $.Scratch.Set "annee" 2000 }}
            {{ range sort $nowPosts "Params.date" "desc" }}
            {{ $date := time.Format "2006" .Params.date }}
            {{ if ne $date ($.Scratch.Get "annee") }}
            {{ $.Scratch.Set "annee" $date }}
            <h3>{{ $date }}</h3>
            {{ end }}
            <p id="{{ .File.TranslationBaseName }}-{{ .Date.Format "2006-01-02" }}"><em>{{- .Date.Format "2006-01-02" -}}</em> {{ replace .Content "<p></p>" "" | markdownify }}</p>
            {{ end }}
            </details>
        </section>
        <section>
            <p><a href="/now.xml">Flux RSS de Maintenant/Now</a></p>
        </section>
    </article>
</main>
{{ end }}
