{{ define "main" }}
<main>
    <article>
        <h1>{{ .Title }} </h1>
        {{ .Content }}
        <ul class="nolist">
            {{ range  where .Site.RegularPages ".Params.categories" "intersect" (slice "carnet") }}
            <li>
                <a href="{{.Permalink}}">
                    <strong>{{.Title}}</strong> — {{ if .Site.Params.dateformShort }}{{ .Date.Format .Site.Params.dateformShort }}{{ else }}{{ .Date.Format "2006-01-02"}}{{ end }}
                </a>
            </li>
            {{end}}
        </ul>
    </article>
</main>
{{ end }}
