{{ define "main" }}
<main>
    {{ if eq .Params.type "article" }}{{ else }}<span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Adc&amp;rft.title={{ .Title }}&amp;rft.aulast={{ .Site.Author.lastname }}&amp;rft.aufirst={{ .Site.Author.firstname }}&amp;rft.source={{ .Site.Title }}&amp;rft.date={{ .Date.Format "2006-01-02" }}&amp;rft.type=blogPost&amp;rft.format=text&amp;rft.identifier={{ .Permalink }}&amp;rft.language=French"></span>{{ end }}
    {{ if eq .Type "pages" }}
    {{ else }}
    <section>
        <p>{{ .Date.Format "2006-01-02"}}</p>
    </section>
    {{ end }}
    <article>
        <h1>{{ .Title }}</h1>
        {{ .Content }}
	{{ if eq .Type "pages"}}{{ else }}<section>
      <aside><a href="mailto:{{ .Site.Author.email }}?subject=Réaction à {{ .Title }}">Réagir</a></aside>
	</section>{{ end }}
    </article>
</main>
{{ end }}
